




.ins{
    background-image: url(images/image4.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
    padding: 100px;
    text-align: center;
    max-width: 2000px;  
}

.menu{
    gap: 30px;
}